.home-container {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.recommendation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: transform 0.3s ease;
  font-size: 4rem;
  padding: 20px 40px;
  margin: 0 10px;
  /*min-height: 300px;*/
  height: 30%;
  width: 40%;
  max-width: 600px;
}

.recommendation-link:hover {
  transform: scale(1.05);
}

/* 태블릿 크기 */
@media (max-width: 1024px) {
  .recommendation-link {
    font-size: 3rem;
    padding: 40px;
    min-height: 250px;
  }
}

/* 모바일 크기 */
@media (max-width: 768px) {
  .recommendation-link {
    font-size: 2rem;
    padding: 30px;
    min-height: 200px;
  }
}
