/* 기존 스타일 */
.header {
  background-color: #2c3e50;
  padding: 0.3rem 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 중앙 정렬 추가 */
  padding: 0 20px;
}

.logo {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
  margin-top: 10px;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #34495e; /* 세련된 다크 그레이 색상 */
  transition: background-color 0.3s, transform 0.2s; /* 부드러운 호버 효과 */
}

nav ul li a:hover {
  background-color: #2c3e50; /* 호버 시 조금 더 어두운 색상 */
  transform: translateY(-2px); /* 부드러운 올라가는 효과 */
}


/* 드롭다운 스타일 */
.dropdown {
  position: relative;
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.dropdown-toggle{
  margin: -8px;
}

.dropdown button:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #34495e;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item:hover {
  transform: translateY(-2px); /* 부드러운 올라가는 효과 */
}

.dropdown-items {
  margin: 0px;
  padding: 10px;
}

.headerBadge {
  position: absolute;
  top: -6px;
  right: -8px;
  background-color: #ff5722;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  padding: 12px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
}

/* auth-img 스타일 */
.auth-img {
  width: 50px;
  height: 50px;
  object-fit: cover; /* 이미지 비율 유지하면서 잘림 방지 */
}

/* 태블릿 크기 */
@media (max-width: 768px) {
  nav ul li {
    margin-left: 2rem;
  }

  nav ul li a {
    padding: 0.5rem 0.7rem;
  }

  .headerBadge {
    right: -10px;
  }

}

/* 모바일 크기 */
@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  nav ul li {
    margin-left: 1.2rem;
    font-size: 0.5rem;
  }

  nav ul li a {
    padding: 0.3rem 0.5rem;
  }

  .headerBadge {
    right: -6px;
  }

}
