/* 기존 스타일 */
.header {
  background-color: #2c3e50;
  padding: 0.3rem 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 중앙 정렬 추가 */
  padding: 0 20px;
}

.logo {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
  margin-top: 10px;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #289735;
  transition: background-color 0.2s;
}

nav ul li a:hover {
  background-color: #287715;
}

/* 태블릿 크기 */
@media (max-width: 768px) {
  .header-container {
    padding: 0 10px;
  }

  nav ul li {
    margin-left: 0.5rem;
  }

  nav ul li a {
    padding: 0.5rem 0.7rem;
  }
}

/* 모바일 크기 */
@media (max-width: 480px) {
  .header-container {
    padding: 0 5px;
  }

  .logo {
    font-size: 1.2rem;
  }

  nav ul li {
    margin-left: 0.3rem;
  }

  nav ul li a {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
}
